:root {
	--baby-pink: #e0b9b0ff;
	--tuscany: #cda397ff;
	--black-coffee: #2a201cff;
	--raisin-black: #2d2b2eff;
	--dark-lava: #4f3e34ff;
}

body {
	font-family: Arial;
	font-weight: bold;
	color: white;
}

#score-keeper {
	display: grid;
	grid-auto-flow: column;
	height: 100vh;
	max-height: 100vh;
}

.digit {
	color: white;
}

.digit1 {
	grid-area: d1;
	text-align: right;
}

.digit2 {
	grid-area: d2;
	text-align: left;
}

.team-name {
	grid-area: teamname;
	align-self: center;
	justify-self: center;
	font-size: 2rem;

	/*display: none;*/
}

.hide-team-names .team-name {
	display: none;
}

.score-group {
	display: grid;
	grid-template-areas:
	"d1 d2"
	"teamname teamname";
}

.score-group-1 {
	background: red;
}

.score-group-2 {
	background: blue;
}

#settings {
	position: absolute;
	top: 0;
	right: 1rem;
	font-size: 4.5rem;
	color: white;
}


@media (orientation:portrait) {
	#score-keeper {
		grid-auto-flow: row;
	}

	.digit {
		font-size: 59vmin;
	}

	.hide-team-names .digit {
		font-size: 67vmin;
	}
}

@media (orientation:landscape) {
	.digit {
		font-size: 58vmin;
	}

	.hide-team-names .digit {
		font-size: 68vmin;
	}
}